<mat-action-list>
  <button mat-flat-button color="primary" routerLink="/server/add"><mat-icon>add_box</mat-icon>Ajouter un serveur</button>
</mat-action-list>
<mat-list *ngIf="servers$ | async as servers;">
  <mat-list-item *ngFor="let server of servers">
    <mat-icon matListItemIcon>computer</mat-icon>
    <div matListItemTitle>{{server.name}}</div>
    <div matListItemLine class="infos">
      <span>{{server.ipAddress}}</span>
      <span>{{server.type}}</span>
      <span>{{server.memory}}</span>
      <span class="actions">
        <button mat-flat-button color="primary">Ping <mat-icon>network_wifi</mat-icon></button>
        <button mat-flat-button color="warn" (click)="openDialog(server.id)">Supprimer <mat-icon>delete</mat-icon></button>
      </span>
    </div>
  </mat-list-item>
</mat-list>
<div *ngIf="loading$ | async" class="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
