mat-list{
  max-width: 1000px;
  margin: 0 auto;
}

mat-action-list{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.actions{
  gap: 2px;
}

.infos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions{
  display: flex;
  justify-content: flex-end;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
