mat-action-list{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

table{
  min-width: 90%;
  margin: 0 auto;
}

.actions > *{
  margin-left: 5px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
