mat-sidenav-content{
  div{
    height: 95vh;
  }
}

mat-nav-list{
  width: 20vw;
}

a{
  text-decoration: none;
  color: #fff;
}

.sub-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}
